<% if (typeof currentUser !== 'undefined' && currentUser.role === "admin") {%>
<div class="admin-nav">
  <ul class="nav-list">
    <li>
      <a href="/kwiaty/nowy" class="nav-link">+ Dodaj Produkt</a>
    </li>
  </ul>
</div>
<% } %>
<nav class="navbar">
  <ul class="nav-list">
    <li>
      <a class="nav-link dropdown-link" href="/kwiaty">Kwiaty<i class="fas fa-angle-down"></i></a>
      <div class="dropdown-content">
        <a href="/kwiaty/kategorie/bukiety">Bukiety</a>
        <a href="/kwiaty/kategorie/ciete">Kwiaty cięte</a>
        <a href="/kwiaty/kategorie/sztuczne">Kwiaty sztuczne</a>
        <a href="/kwiaty/kategorie/doniczkowe">Rośliny doniczkowe</a>
      </div>
    </li>
    <li><a class="nav-link" href="/kwiaty/kategorie/flowerbox">FlowerBox</a></li>
    <li>
      <a class="nav-link dropdown-link" href="/pogrzeb">Pogrzebowe <i class="fas fa-angle-down"></i></a>
      <div class="dropdown-content">
        <a href="/pogrzeb/wience/">Wieńce - kwiaty żywe</a>
        <a href="/pogrzeb/wience-sztuczne">Wieńce - kwiaty sztuczne</a>
      </div>
    </li>
    <li><a class="nav-link" href="/kreator">Kreator bukietów</a></li>
    <li>
      <a class="nav-link dropdown-link" href="/kwiaty/okazje">Okazje <i class="fas fa-angle-down"></i></a>
      <div class="dropdown-content">
        <a href="/kwiaty/okazje/urodziny">Urodziny</a>
        <a href="/kwiaty/okazje/dla-zakochanych">Dla Zakochanych</a>
        <a href="/kwiaty/okazje/dla-mamy">Dla Mamy</a>
        <a href="/kwiaty/okazje/dla-taty">Dla Taty</a>
        <a href="/kwiaty/okazje/na-slub">Ślub</a>
        <a href="/kwiaty/okazje/pogrzeb">Pogrzeb</a>
        <a href="/kwiaty/okazje/dla-firm">Dla firm</a>
        <a href="/kwiaty/okazje">Więcej okazji ></a>
      </div>
    </li>
    <li><a class="nav-link" href="/kwiaty/promocje">Promocje</a></li>
    <li><a class="nav-link" href="/kontakt">Kontakt</a></li>
  </ul>
</nav>
<div class="cart-add-alert hidden">
  <div class="close"><i class="fas fa-times"></i></div>
  <div class="check"><i class="far fa-check-circle"></i></div>
  <div>Dodano produkt do koszyka</div>
</div>
<script src="/scripts/navbar.js"></script>
