<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FloraBox</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
      integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/css/styles.css" />
    <link rel="icon" type="image/png" href="/images/sunflower.png" />
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <main><%- body %></main>
    <%- include('../partials/footer') %>
  </body>
  <% if (typeof url === 'undefined'){%>
  <script type="text/javascript" src="/utils/cartUtils/cartUpdate.js"></script>
  <script type="text/javascript" src="/utils/cartUtils/cartRemove.js"></script>
  <script type="text/javascript" src="/utils/cartUtils/cartQuantity.js"></script>
  <script type="text/javascript" src="/utils/cartUtils/cartFind.js"></script>
  <script type="text/javascript" src="/utils/cartUtils/cartAdd.js"></script>
  <script type="text/javascript" src="/utils/cartFunctionality.js"></script>
  <% } %>
</html>
