<% layout('./layouts/boilerplate.ejs') %>
<section class="cart-page">
  <h1>cart</h1>
  <div class="cart">
    <div class="cart-items"></div>
  </div>
  <div class="cart-sum">
    <span>Wartość koszyka:</span>
    <span class="cart-value">0.00</span>
  </div>
  <div class="payment-btn"><button>Dokończ zakupy</button></div>
</section>
<script type="text/javascript" src="/utils/cartFunctionality.js"></script>
