@import "config", "navbar", "cart", "header", "flash", "home-page", "cart-page", "product-list", "product-page", "user-page", "form", "new-edit-product", "media1400", "media1024", "media768",
  "media576";
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  position: relative;
  background-color: $background-color;
  overflow-x: hidden;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  width: 250px;
  padding: 10px;
  font-size: 20px;
  background-color: $main-color;
  color: white;
  transition: all 0.5s;
}
button:hover {
  background-color: lighten($main-color, 10%);
}

a {
  text-decoration: none;
  color: $text-color;
}

input,
textarea,
select {
  font-family: "Poppins", sans-serif;
  border: 1px solid $secondary-color;
  padding-left: 10px;
  margin-bottom: 20px;
}

input {
  height: 35px;
}

input:focus,
textarea:focus {
  outline: none;
}

.hidden {
  display: none !important;
}

// MAIN
main {
  width: 75%;
  padding-top: 50px;
  padding-bottom: 150px;
  margin: auto;
}

.p-header {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid $main-color;
}

.product-price-new {
  color: rgb(224, 101, 101);
  font-size: 25px;
}
.product-price-old {
  color: rgb(134, 134, 134);
  text-decoration: line-through;
  font-size: 15px;
}

footer {
  background-color: $main-color;
  @include flex_center();
  position: absolute;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding: 0 12.5%;
  bottom: 0;
  color: white;
  flex-direction: column;
  a {
    padding: 0 5px;
    color: #a2bb94;
  }
}
